html { 
    background: url(https://art.ngfiles.com/images/393000/393710_rocklou_star-wars-the-force-awakens-wallpaper.jpg?f1451189468) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 30px;
  }

.starFont {
    
    color: rgb(249, 243, 52);
    font-family: serif 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    color: azure;
    margin-left: 30px;
}

.iconPlayerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 90px;
}

.charBox {
    background: url(./assets/images/star-wars-luke-skywalker-wallpaper-11537517.jpg);
    background-color:rgb(126, 171, 204);
    margin: 5px;
    border-radius: 7px;
    text-align: center; 
    height: 200px;
    width: 150px;
    border: 3px solid;
    float: left;
    -webkit-transition: width 2s, height 2s; /* Safari */
    transition: width 2s, height 2s;
}

.charBox.selected {
    width: 300px;
    height: 300px;
}

.charBox.oppSelected {
    width: 300px;
    height: 300px;
    background: red;
}

.health{
    text-align: center;
}













