html { 
    background: url(https://art.ngfiles.com/images/393000/393710_rocklou_star-wars-the-force-awakens-wallpaper.jpg?f1451189468) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 30px;
    min-width: 1000px;
  }

.starFont {
    
    color: rgb(249, 243, 52);
    font-family: serif 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    color: azure;
    margin-left: 30px;
}

button {
    margin: 20px;
    line-height: 40px;
    font-size: 18px;
    font-family: serif 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    background: red;
    border-radius: 4px;
    position: relative;
    top: 60%

}

.iconPlayerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 90px;
}

.charBox {
    background: url(./assets/images/star-wars-luke-skywalker-wallpaper-11537517.jpg);
    background-color:rgb(126, 171, 204);
    margin: 5px;
    border-radius: 7px;
    text-align: center; 
    height: 200px;
    width: 150px;
    border: 5px solid;
    float: left;
    /* -webkit-transition: width 1s, height 1s; Safari */
    /* transition: width 1s, height 1s; */
}

.charBox.selected {
    height: 225px;
    width: 185px;
    background: rgb(96, 183,78);
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
}

#character-select {
    width: 350px;
    position: absolute;
    right: 50px;
}

#game-board {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.left-column {
    position: relative;
    width: 500px;
    float: left;
}

.right-column {
    position: relative;
    float: right;
}

#character-select.start {
    width: 350px;
    position: absolute;
    right: 300px;
}

.opponentChangeText {
    text-align: center;
}

/* #my-character {
    height: 225px;
    width: 185px;
    background: rgb(96, 183,78);
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
} */

.charBox.oppSelected {
    height: 225px;
    width: 185px;
    background: rgb(207, 160, 255);
}

.health{
    text-align: center;
}

.hidden {
    display: none;
}












